.DS_Store
node_modules
/dist
/src/file_backup
/src/backup_*

# local env files
.env.local
.env.*.local
.env

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
*.log
backup*.log
*.zre
#*.bat
*.jpg
*.mp4
*.webm
*.jpeg
*.zip