<IfModule mod_rewrite.c>
RewriteEngine on
RewriteRule ^404$ index.php?page=gaketemu [L]
RewriteRule ^home$ index.php?page=home [L]
RewriteRule ^news$ index.php?page=news [L]
RewriteRule ^news/([^/]*)\.html$ index.php?page=news&ct=$1
RewriteRule ^kontak$ index.php?page=kontak [L]
RewriteRule ^login$ index.php?page=admin_page [L]
RewriteRule ^about$ index.php?page=about [L]
RewriteRule ^workshop$ index.php?page=workshop [L]
RewriteRule ^galery_image$ index.php?page=gal_img [L]
RewriteRule ^galery_video$ index.php?page=gal_vid [L]
RewriteRule ^search$ index.php?page=search [L]
RewriteRule ^search/([^/]*)\.html$ index.php?page=search&label=$1

# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteRule ^(.*) index.php/$1 [L]    

# RewriteCond %{SERVER_PORT} 80 
# RewriteRule ^(.*)$ http://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
	


RewriteRule ^produk$ index.php?page=produk [L]
RewriteRule ^produk/([^/]*)\.html$ index.php?page=produk&prod_dtl=$1

RewriteRule ^proyek$ index.php?page=proyek [L]
RewriteRule ^proyek/([^/]*)\.html$ index.php?page=proyek&proy_dtl=$1
RewriteRule ^proyek/g/([^/]*)\.html$ index.php?page=proyek&proy_grup=$1


# ErrorDocument 404 https://kontraktorborepile.com/404
</IfModule>
