
/* ===[ Latest Post ]===
   ==================================================
   ================================================== */

#latest-posts .post-item .post-img img,
#latest-posts .post-item .post-img { overflow: hidden }

#latest-posts .post-item:hover img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

#latest-posts .post-img img {
    overflow: hidden;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

#latest-posts h3 { color: #283043 }

#latest-posts a { color: #283043 }

#latest-posts .post-content { padding: 15px }

.blog-post-content {
    border-bottom: 1px solid #D5D5D5;
    border-left: 1px solid #D5D5D5;
    border-right: 1px solid #D5D5D5;
}

.post-meta {
    width: 100%;
    display: inline-block;
    border-left: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
}

.post-meta-content {
    float: left;
    width: 25%;
    padding: 5px;
    background: #fafafa;
    color: #bdbdbd;
    text-align: center;
    padding: 7px 0px;
    border-right: 1px solid #d5d5d5;
}

.post-meta-content i {
    font-size: 16px;
    color: #bdbdbd;
}

.post-meta-link { color: #bdbdbd !important }

/* ===[ Blog page ]===
   ==================================================
   ================================================== */

.page article.post { border-bottom: none }

.post-header h3.content-title {
    text-align: left !important;
    margin-bottom: 15px;
}

.blog-entry-meta {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    font-size: 0;
    padding-top: 10px;
    margin-bottom: 20px;
}

.blog-entry-meta-date {
    display: inline-block;
    margin-right: 25px;
    margin-bottom: 5px;
    font-size: 14px;
    vertical-align: top;
}

.blog-entry-meta-author {
    display: none;
    margin-right: 15px;
    margin-bottom: 5px;
    font-size: 14px;
    vertical-align: top;
}

.blog-entry-meta-tags {
    display: none;
    margin-right: 25px;
    margin-bottom: 5px;
    font-size: 14px;
    vertical-align: top;
}

.blog-entry-meta-comments {
    display: none;
    margin-bottom: 5px;
    font-size: 14px;
    vertical-align: top;
}

ol.commentlist,
ol.commentlist li {
    list-style: none;
    padding: 0;
}

.blog-entry-meta i { margin-right: 4px }

.blog.meta_author .blog-entry-meta-author { display: inline-block }

.blog.meta_tags .blog-entry-meta-tags { display: inline-block }

.blog.meta_comments .blog-entry-meta-comments { display: inline-block }

.blog.meta_authortags .blog-entry-meta-author,
.blog.meta_authortags .blog-entry-meta-tags { display: inline-block }

.blog.meta_authorcomments .blog-entry-meta-author,
.blog.meta_authorcomments .blog-entry-meta-comments { display: inline-block }

.blog.meta_tagscomments .blog-entry-meta-tags,
.blog.meta_tagscomments .blog-entry-meta-comments { display: inline-block }

.blog-entry-meta-author,
.blog-entry-meta-tags,
.blog-entry-meta-comments { display: inline-block }

.post-content { padding-bottom: 20px }

.post-image { margin-bottom: 25px }

.post-content h4 { margin-bottom: 8px }

.post-content p { margin-bottom: 5px }

.blog-small article .post-image {
    float: left;
    width: 43%;
    margin-bottom: 25px;
}

.blog-small article .post-content-wrap {
    float: left;
    width: 50%;
    margin: 0 0 0 4%;
}

.post-date a.date {
    background: none repeat scroll 0 0 #fafafa;
    display: block;
    float: left;
    margin-right: 20px;
    padding: 10px 0 0;
    text-align: center;
    text-decoration: none;
    width: 55px;
    border-radius: 2px;
}

.post-date a.date strong {
    color: #1889C1;
    display: block;
    font-size: 27px;
    font-weight: normal;
    margin-bottom: 10px;
}

.post-date a.date i {
    background-color: #1889C1;
    border-top: 1px solid #F3F3F3;
    color: #FFFFFF;
    display: block;
    font-size: 11px;
    font-style: normal;
}

.blog-small .blog-entry-meta-author,
.blog-small .blog-entry-meta-tags,
.blog-small .blog-entry-meta-comments { font-size: 11px }
.carousel-control.left, .carousel-control.right {
   background-image:none !important;
   filter:none !important;
}
.carousel-control            { width:  4%; }
.carousel-control.left,.carousel-control.right {margin-left:15px;background-image:none;}
@media (max-width: 767px) {
    .carousel-inner .active.left { left: -100%; }
    .carousel-inner .next        { left:  100%; }
    .carousel-inner .prev        { left: -100%; }
    .active > div { display:none; }
    .active > div:first-child { display:block; }

}
@media (min-width: 767px) and (max-width: 992px ) {
    .carousel-inner .active.left { left: -50%; }
    .carousel-inner .next        { left:  50%; }
    .carousel-inner .prev        { left: -50%; }
    .active > div { display:none; }
    .active > div:first-child { display:block; }
    .active > div:first-child + div { display:block; }
}
@media (min-width: 992px ) {
    .carousel-inner .active.left { left: -16.7%; }
    .carousel-inner .next        { left:  16.7%; }
    .carousel-inner .prev        { left: -16.7%; }  
}



